em {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(0, 0, 0);
}

strong {
    font-weight: bold;
    color: rgb(0, 0, 0);
}

p {
    border: 1px solid rgba(0, 255, 255, 0);
    color:rgb(0, 0, 0);
      padding: 20
      px;
      margin: auto;
     
}

body {background-color: rgb(159, 202, 209);}

h1 {
    text-shadow: 3px 2px #717ec7;
    color: rgb(255, 255, 255);
    padding: 15px;
    font-size: x-large;
    margin: auto;
  }

 

  h2 {
      color: #f5c8e2;
      padding: 15px;
      font-size: small;
      margin: auto;
  }
  
 small {color: #ffc3dc;
    text-shadow: 1px 1px #497f8f;
 }
 
 big{color: #717ec7;}