



body {background-color: rgb(0, 0, 0);}


h1{
    font-size: 90px;
    font-family: 'Archivo', sans-serif; 
   color: antiquewhite;
    text-align: left;
    
    
}
 

  h2 {
      color: rgb(0, 0, 0);
      padding: 15px;
      font-size: small;
      margin: auto;
      

  }
  
  a{
    font-size:40px;
    font-family: 'Archivo', sans-serif; 
    line-height:80px;
    color: white;
}
 