
body {background-color: rgb(212, 212, 212);}

h1 {
   
    color: rgb(0, 0, 0);
    font-family: 'Permanent Marker', cursive;
    text-align: center;
  }

 

  h2 {
      color: rgb(0, 0, 0);
      font-family: 'Permanent Marker', cursive;
      font-size: small;
      text-align: center;
      color: rgb(255, 255, 255);
  }
  

  p {
    font-family: 'Permanent Marker', cursive;
    color:rgb(0, 0, 0);
    font-size: 60px;
    
}
  

em{
    letter-spacing: 50px;
    line-height:100px;
    position:absolute;
 left:10px;
   
   
    color:rgb(255, 0, 0);
}